<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9414e99b-5361-4aae-85fe-40a66767237c/resourceGroups/masterit-backend/providers/Microsoft.Web/sites/masterit-backend</ResourceId>
    <ResourceGroup>masterit-backend</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://masterit-backend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>masterit-backend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>masterit-backend</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$masterit-backend</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DatabaseContext" Order="1" Enabled="False">
          <Destination Path="Data Source=masterit-backend.database.windows.net,1433;Initial Catalog=hackyeah;User ID=masterit;Password=b4ck3nd!;Pooling=True;Max Pool Size=200;Connect Timeout=200" Name="Data Source=masterit-backend.database.windows.net,1433;Initial Catalog=hackyeah;User ID=masterit;Password=b4ck3nd!;Pooling=True;Max Pool Size=200;Connect Timeout=200;MultipleActiveResultSets=true" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MasterIt.Backend.DatabaseContext, MasterIt.Backend" MigrationConfiguration="MasterIt.Backend.Migrations.Configuration, MasterIt.Backend" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DatabaseContext-Web.config Connection String">
      <ParameterValue>Data Source=masterit-backend.database.windows.net,1433;Initial Catalog=hackyeah;User ID=masterit;Password=b4ck3nd!;Pooling=True;Max Pool Size=200;Connect Timeout=200;MultipleActiveResultSets=true</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>